<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="blogs.css">
</head>
<body>
    {{> navbar}}
    <header>
        <h1>My Blogs</h1>
    </header>
    <main>
    <div class="username"><p>Author: {{user.username}}</p></div>
    {{#each blogs as  |blog|}}
    <div class="blog-container">
        <div class="blog-title">{{blog.title}}</div>
        {{#if imageUrl}}
        <img class="blog-image" src="{{imageUrl}}" alt="Blog Image">
        {{/if}}
        <div class="blog-content">{{blog.content}}</div>
        <div class="blog-actions">
            <a href="/edit-blog/{{_id}}">Edit blog</a>
            <a href="/delete-blog/{{_id}}">Delete Blog</a>
        </div>
    </div>
    {{/each}}
    </main>

</body>
</html>